<!DOCTYPE html>
<html>
  <head>
    <title>Supervise</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>
  <body class="h-auto p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img
          src="/img/HCMUT_official_logo.png"
          width="30"
          height="30"
          alt=""
          type="image/png"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link active" href="#"
            >Supervise <span class="sr-only">(current)</span></a
          >
        </div>
      </div>
    </nav>
    <div class="d-flex flex-row">
      <div class="d-flex flex-column w-25">
        <div class="card p-3 m-3">
          <div class="m-2">
            <div class="form-group">
              <div
                class="input-group date"
                id="datetimepicker7"
                data-target-input="nearest"
              >
                <input
                  type="text"
                  class="form-control datetimepicker-input"
                  data-target="#datetimepicker7"
                />
                <div
                  class="input-group-append"
                  data-target="#datetimepicker7"
                  data-toggle="datetimepicker"
                >
                  <div class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="m-2">
            <div class="form-group">
              <div
                class="input-group date"
                id="datetimepicker8"
                data-target-input="nearest"
              >
                <input
                  type="text"
                  class="form-control datetimepicker-input"
                  data-target="#datetimepicker8"
                />
                <div
                  class="input-group-append"
                  data-target="#datetimepicker8"
                  data-toggle="datetimepicker"
                >
                  <div class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="m-2">
              <button id="submit-date" type="button" class="btn btn-primary">
                Search
              </button>
            </div>
          </div>
        </div>
        <div class="card p-3 m-3">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              aria-label="Amount (to the nearest dollar)"
              id="warning-value"
            />
            <div class="input-group-append">
              <span class="input-group-text">kWh</span>
            </div>
          </div>
          <div class="m-2">
            <button id="submit-warning" type="button" class="btn btn-primary">
              Save
            </button>
          </div>
        </div>
      </div>
      <div class="chart-container">
        <canvas id="chart-detail"></canvas>
      </div>
    </div>
    <script type="text/javascript">
      $(function() {
        $("#datetimepicker7").datetimepicker({
          format: "L"
        });
        $("#datetimepicker8").datetimepicker({
          format: "L"
        });
        $("#datetimepicker7").on("change.datetimepicker", function(e) {
          $("#datetimepicker8").datetimepicker("minDate", e.date);
        });
        $("#datetimepicker8").on("change.datetimepicker", function(e) {
          $("#datetimepicker7").datetimepicker("maxDate", e.date);
        });
        function submitWarning(value) {
          $.post(
            "http://baokhoa.tk/api/setWarning",
            {
              value: value
            },
            (data, status) => {
              console.log(status);
              $("#warning-value")
                .val("")
                .attr("placeholder", value);
            }
          );
        }
        $("input#warning-value").keypress(event => {
          if (event.which == 13) {
            submitWarning(event.target.value);
          }
        });
        $("button#submit-warning").click(event => {
          submitWarning($("input#warning-value").val());
        });
        $.get("http://baokhoa.tk/api/getWarningValue", (data, status) => {
          $("input#warning-value").attr("placeholder", data.value);
        });
        let ctx = document.getElementById("chart-detail").getContext("2d");
        let detailChart = new Chart(ctx, {
          type: "line",
          data: {
            datasets: [
              {
                label: "Consumption kWh",
                data: []
              }
            ]
          },
          options: {
            scales: {
              xAxes: [
                {
                  type: "time",
                  time: {
                    parser: "YYYY-MM-DD HH:mm:ss",
                    unit: "minute",
                    displayFormat: {
                      minute: "HH:mm"
                    }
                  }
                }
              ],
              yAxes: [
                {
                  ticks: {
                    beginAtZero: true
                  }
                }
              ],
              plugins: [
                {
                  beforeUpdate: function(chart, options) {
                    filterData(chart);
                  }
                }
              ]
            }
          }
        });
        function updateChart(chart, data) {
          chart.data.datasets[0].data = data;
          chart.options.scales.xAxes[0].ticks.min = data[0].t;
          chart.options.scales.xAxes[0].ticks.max = data[data.length - 1].t;
          chart.update();
        }
        $.get("http://baokhoa.tk/api/getListPower", (data, status) => {
          data = data.map(item => {
            return {
              x: moment(item.day),
              y: item.value
            };
          });
          console.log(data);
          updateChart(detailChart, data);
        });
        $("button#submit-date").click(event => {
          let beginDate = $("#datetimepicker7").datetimepicker("viewDate");
          let endDate = $("#datetimepicker8").datetimepicker("viewDate");
          console.log(
            beginDate
              .set({ hour: 0, minute: 0, second: 0, millisecond: 0 })
              .toDate(),
            endDate
              .set({ hour: 0, minute: 0, second: 0, millisecond: 0 })
              .toDate()
          );
          $.get(
            "http://baokhoa.tk/api/getSome",
            {
              time: beginDate
                .set({ hour: 0, minute: 0, second: 0, millisecond: 0 })
                .toDate(),
              next: endDate
                .set({ hour: 0, minute: 0, second: 0, millisecond: 0 })
                .toDate()
            },
            (data, status) => {
              data = data.map(item => {
                return {
                  x: item.day,
                  y: item.value
                };
              });
              console.log(data);
              updateChart(detailChart, data);
            }
          );
        });
      });
      function filterData(chart) {
        var datasets = chart.data.datasets;
        if (!chart.data.origDatasetsData) {
          chart.data.origDatasetsData = [];
          for (var i in datasets) {
            chart.data.origDatasetsData.push(datasets[i].data);
          }
        }
        var originalDatasetsData = chart.data.origDatasetsData;
        var chartOptions = chart.options.scales.xAxes[0];
        var startX = chartOptions.ticks.min;
        var endX = chartOptions.ticks.max;

        if (startX && typeof startX === "object") startX = startX._d.getTime();
        if (endX && typeof endX === "object") endX = endX._d.getTime();

        for (var i = 0; i < originalDatasetsData.length; i++) {
          var originalData = originalDatasetsData[i];

          if (!originalData.length) continue;

          var firstElement = {
            index: 0,
            time: null
          };
          var lastElement = {
            index: originalData.length - 1,
            time: null
          };

          for (var j = 0; j < originalData.length; j++) {
            var time = originalData[j].x;
            if (
              time >= startX &&
              (firstElement.time === null || time < firstElement.time)
            ) {
              firstElement.index = j;
              firstElement.time = time;
            }
            if (
              time <= endX &&
              (lastElement.time === null || time > lastElement.time)
            ) {
              lastElement.index = j;
              lastElement.time = time;
            }
          }
          var startIndex =
            firstElement.index <= lastElement.index
              ? firstElement.index
              : lastElement.index;
          var endIndex =
            firstElement.index >= lastElement.index
              ? firstElement.index
              : lastElement.index;
          datasets[i].data = reduce(
            originalData.slice(startIndex, endIndex + 1),
            maxRenderedPointsX
          );
        }
      }

      // returns a reduced version of the data array, averaging x and y values
      function reduce(data, maxCount) {
        if (data.length <= maxCount) return data;
        var blockSize = data.length / maxCount;
        var reduced = [];
        for (var i = 0; i < data.length; ) {
          var chunk = data.slice(i, (i += blockSize) + 1);
          reduced.push(average(chunk));
        }
        return reduced;
      }

      function average(chunk) {
        var x = 0;
        var y = 0;
        for (var i = 0; i < chunk.length; i++) {
          x += chunk[i].x;
          y += chunk[i].y;
        }
        return {
          x: Math.round(x / chunk.length),
          y: y / chunk.length
        };
      }
    </script>
  </body>
</html>
